<html>
    <head>
    </head>
    <body>
        <form method="post" action="/newdeck">
            <input type="text" name="deckname" placeholder="deck name"/>
            <button type="submit">Create deck</button>
        </form>
    </body>
</html>

<html>