<html>
    <head>
    </head>
    <body>
        <form method="post" action="/decks/{{deckId}}/newflipcard">
            <input type="text" name="question" placeholder="question"/>
            <input type="text" name="answer" placeholder="answer"/>

            <button type="submit">add</button>
        </form>
    </body>
</html>

<html>