*{
                box-sizing: border-box;                
            }
            #main{
                /*border: 1px solid black;*/
                width: 100%;
                height: auto;
                padding: 10px;
                color: grey;
                display: flex;
                flex-wrap: wrap;
            }
            #header{
                height: 500px;
                /*border: 1px solid #000;*/
                padding: 10px;
                flex-wrap: wrap;
            }
            .inner{
                height: 300px;
                margin: auto;
                width: 200px;
                border: 1px solid green;
                position: relative;
                transition: all 0.5s ease 0s;
                perspective: 300px;
            }
            .efect{
                position: absolute;
                height: 100%;
                width: 100%;
                text-align: center;
                transition: all .5s ease 0s;
            }
            .one{
                background:lightcoral;
                z-index: 1111;                
                backface-visibility: visible;    
            }
            .inner:hover .one{
                transform: rotateY(-180deg);
                -moz-transform: rotateY(-180deg);                
                backface-visibility: hidden;    

            }
            .two{
                background: lightblue;
                transform: rotateY(180deg);
                -moz-transform: rotateY(180deg);
                backface-visibility: hidden;
            }
            .inner:hover .two{
                transform: none;
                backface-visibility: visible;
            }
            h1{
                color: #fff;
            }